<li class="fright"><%= link_to 'Logout', '#', class: 'accountnav_links' %></li>
<li class="fright"><%= link_to 'Sign up', '#', class: 'accountnav_links' %></li>
<li class="fright"><%= link_to 'Sign in', '#', class: 'accountnav_links'%></li>
<li class="fright"><%= link_to "Hi, Ezirens", '#', class: 'accountnav_links' %></li>
