<li class="fright"><%= link_to "#{t('logout')}", '#', class: 'accountnav_links' %></li>
<li class="fright"><%= link_to "#{t('sign_up')}", '#', class: 'accountnav_links' %></li>
<li class="fright"><%= link_to "#{t('sign_in')}", '#', class: 'accountnav_links'%></li>
<li class="fright"><%= link_to "#{t('hi')}, Ezirens", '#', class: 'accountnav_links' %></li>
